<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>

    <%- include partials/title.ejs %>

      <!-- Home content -->
      <div style="display: flex; margin-top: 10%; margin-left: 5%; margin-right: 5%; padding-left: 5%">

        <img src="./../public/Assets/images/programmin_1.png" />

        <div style=" display: block; width: 40%; height: 100%; margin-left: 5%; padding: 5%;">

          <div class="container">
            <h2><br>Welcome!!<br></h2>
            <h3><br><br><br><u>Believe in</u><br></h3>
            <h5><br>“A language that doesn’t affect the way you think about programming is not worth knowing” by Alan
              Perlis.</h5>
            <h4><br><br><br>Navigating to<br></h4>
          </div>

          <!-- Page navigation buttons -->
          <div class="container">
            <a href="/about"><button type="button" class="btn btn-dark">About Me</button></a>
            <a href="/projects"><button type="button" class="btn btn-secondary">Projects</button></a>
            <a href="/services"><button type="button" class="btn btn-dark">Services</button></a>
            <a href="/contact"><button type="button" class="btn btn-secondary">Contact Me</button></a>
          </div>

        </div>

      </div>

      <%- include partials/bottom_nav.ejs %>

        <%- include partials/footer.ejs %>