<!-- Nayna bhuva
     301145612
    october 26,2022-->
<%- include('partials/header.ejs') %>

  <%- include('partials/main_nav.ejs') %>

    <%- include('partials/title.ejs') %>

      <!-- Home content -->
      <div class="container">
        <h2><br>Welcome to my website!<br></h2>
        <h3><br><br><br><u>Mission Statement</u><br></h3>
        <h5>Best Tech, Best Future</h5>
        <h4><br><br><br>New here? Go to:<br></h4>
      </div>

      <!-- Page navigation buttons -->
      <div class="container">
        <a href="/about"><button type="button" class="btn btn-link"><span> <i class="fas fa-user-tie"></i></span>
            About Me</button></a>
        <a href="/projects"><button type="button" class="btn btn-link"><span> <i
                class="fas fa-clipboard-list"></i></span> Projects</button></a>
        <a href="/services"><button type="button" class="btn btn-link"><span> <i class="fas fa-cogs"></i></span>
            Services</button></a>
        <a href="/contact"><button type="button" class="btn btn-link"><span> <i class="fas fa-phone-square"></i></span>
            Contact Me</button></a>
        <a href="/"><button type="button" class="btn btn-link"><span> <i class="fa fa-address-book"></i></span>
            Business Contact List </button></a>
      </div>

      <%- include('partials/bottom_nav.ejs') %>

        <%- include('partials/footer.ejs') %>