<%- include('partials/header.ejs') %>

  <%- include('partials/main_nav.ejs') %>

    <%- include('partials/title.ejs') %>

      <!-- Services content -->
      <!-- Nayna bhuva
     301145612
    october 26,2022-->
      <div class="container">

      </div>

      <div class="container">
        <br><img class="myimg" src="http://localhost:3000/Assets/images/service.png" alt="Services">


        <%- include('partials/bottom_nav.ejs') %>

          <%- include('partials/footer.ejs') %>